body {
    background: rgb(215, 192, 151);
}
ul {
  list-style-type: none;
}

h1, h2 {
  font-family: "Sofia", sans-serif;
  font-size: 3em;
}

.birthstone-regular, p {
  font-family: "Birthstone", cursive;
  font-size: 3em;
  font-weight: 400;
  font-style: normal;
}


.block {
  width: 100%;
  overflow: hidden;
  margin-bottom: 30px;
}

.img-left {
  float: left;
  margin-right: 20px;
}

.img-centre {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.img-right {
  float: right;
  margin-left: 20px;
  margin-right: 20px;
}

.block p {
  line-height: 1.6;
  
}